<!-- Tomcat listen on 8080 -->
<Connector port="8080" protocol="HTTP/1.1"
           connectionTimeout="20000"
           URIEncoding="UTF-8"
           redirectPort="8443"/>


        <!-- Set /apple as default path -->
<Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="true">
<Context path="" docBase="sd2017">
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
</Context>
</Host>